# AWS / ECR
REGION=us-east-1
ACCOUNT_ID=496097048853
ECR_REGISTRY=496097048853.dkr.ecr.us-east-1.amazonaws.com

# Auth database
AUTH_DB=auth_db
AUTH_DB_USER=user_auth
AUTH_DB_PASSWORD=change_me_auth_password

# Pet database
PET_DB=pet_db
PET_DB_USER=user_pet
PET_DB_PASSWORD=change_me_pet_password

# Match database
MATCH_DB=match_db
MATCH_DB_USER=user_match
MATCH_DB_PASSWORD=change_me_match_password

# Notification database
NOTIF_DB=notification_db
NOTIF_DB_USER=user_notif
NOTIF_DB_PASSWORD=change_me_notif_password

# JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# Internal service URLs - Docker Swarm service names
AUTH_SERVICE_URL=http://auth-service:8080
PET_SERVICE_URL=http://pet-service:8080
MATCH_SERVICE_URL=http://match-service:8080
NOTIFICATION_SERVICE_URL=http://notification-service:8080

# Future SQS config
AWS_REGION=us-east-1
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/496097048853/match-notifications-queue

INTERNAL_SERVICE_SECRET=una_clave_super_secreta_interna_para_lambda